.reserveContainer {
  margin: 4rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.reserveHeading {
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
  margin-top: 1rem;
}

.reservationBodyContainer {
  min-height: 100vh;
  display: flex;
  background-color: white;
}

.reserveBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 1rem;
}

.imageIcon {
  display: block;
  width: 100px;
  height: 100px;
  position: initial;
  object-fit: cover;
  border-radius: 100%;
  border-radius: 10px;
}

.reservationCity {
  margin-bottom: 0 !important;
  font-weight: 700;
}

.reserveBodyButton {
  padding: 1rem 1.5rem;
  background-color: #84cc16;
  border-radius: 5px;
  border-color: #84cc16;
  color: #f8fafc;
}

.reservationHeading {
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #0f172a;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
}

.reservationPageContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 82%;
  position: absolute;
  left: 18%;
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .imageBody {
    background-color: #83cc1684;
    padding: 0;
    position: relative;
    width: 0;
    border-radius: 100%;
  }

  .imageIcon {
    display: block;
    width: 50px;
    height: 50px;
    position: initial;
    object-fit: cover;
    border-radius: 100%;
  }

  .reservationPageContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    position: initial;
    padding: 10px;
  }

  .sidebarContainer {
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 0;
    transition: width 5s ease-out;
    bottom: 0;
    min-height: 100vh;
    border-right: 2px solid #eee;
    background: #fff;
  }

  .reservationCity {
    margin-bottom: 0 !important;
    font-weight: 500;
    font-size: 0.7rem;
  }

  .reserveBodyButton {
    padding: 0.1rem 0.3rem;
    font-size: 0.8rem;
  }

  .reservationHeading {
    margin-top: 70px;
  }

  .reserveContainer {
    margin: 3rem 0 3rem 0;
  }

  .reserveBody {
    padding: 0 10px;
  }
}
