* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.eye-icon {
  outline: none;
  border: none;
  line-height: 0;
  background: transparent;
}

.signup-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:
    linear-gradient(to right, #99e428de, #a7f334a2),
    url('./assets/signup_bg.png');
  background-size: cover;
  height: 100%;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3% auto;
  text-align: center;
  border-radius: 10px;
  padding: 5px 40px 40px;
  width: 35%;
  background: #fff;
  box-shadow:
    rgba(255, 255, 255, 0.1) 0 1px 1px 0 inset,
    rgba(50, 50, 93, 0.25) 0 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
}

.heading {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

hr {
  width: 15%;
  color: #a07404;
  height: 3px;
}

.form-container {
  width: 100%;
}

.submit-btn > button {
  background: #feb500;
  color: #fff;
  font-size: 20px;
  padding: 15px 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

input {
  background: #fff;
  color: rgb(116, 114, 114);
  outline: none;
  border: none;
  line-height: 0;
  padding: 7px;
}

input:focus,
input:valid {
  outline: none;
  border: none;
  line-height: 0;
  padding: 7px;
  background: #fff;
}

.form-group > button {
  position: absolute;
  top: 0;
  right: 0;
}

form > .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  position: relative;
  margin-bottom: 30px;
  border-bottom: solid 2px #44522e;
}

.form-group > label {
  position: absolute;
  top: 0;
  transition: all 0.5s ease-in-out;
}

.submit-btn > button:hover {
  background-color: #ca9100;
}

div:last-of-type {
  margin-top: 20px;
}

.input-field:focus + .input-label,
.input-field:valid + .input-label {
  transform: translateY(-25px);
}

@media screen and (max-width: 854px) {
  width: 60%;
}

@media screen and (max-width: 563px) {
  width: 80%;
}

@media screen and (max-width: 422px) {
  width: 93%;
}
